@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all .2s linear;
}
:root {
  --blue: #2d25a0;
  --white: #ffff;
  --violet: #e02c6d;
}
*::selection {
  color: #fff;
  background-color: #000;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body{
  height: 1000px;
}

/*-----------------------------
 Header section start 
-------------------------------*/
.header-1,
.header-2,
.header-3{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 9%;
  background: var(--violet);
  /* border-top: 2px solid green; */
}

.header-1{
  border-bottom: .1rem solid var(--white);
}
.header-3{
  background: #fff;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.493);
  position: relative;
  z-index: 1000;
}
.header-1 span{
  font-weight: lighter;
  color: #fff;
  font-size: 1.7rem;
}
.header-1 a{
  padding: 0 .7rem;
  color: #fff;
  font-size: 2rem;
}
.header-1 a:hover{
  color: rgb(14, 9, 9);
}
.header-2 .logo{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  font-size: 3rem;
  color: rgb(146, 243, 146);
}
.header-2 .search-bar-container{
  display: flex;
  width: 70%;
  float: right;
  padding: 1.5rem;
  background: rgb(255, 255, 255, .2);
  border-radius: .5rem;
}
.header-2 .search-bar-container #search-bar{
  width:100%;
  background: none;
  text-transform: none;
  color: #fff;
  font-size: 1.7rem;
}
.header-2 .search-bar-container #search-bar::placeholder{
  text-transform: capitalize;
  color: #ddd;
}
.header-2 .search-bar-container label{
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  padding: 0 .5rem;
}
.header-2 .search-bar-container label:hover{
  color: yellow;
  transform: scale(.9);
}

.header-3 .navbar a{
  color: #333;
  font-size: 2rem;
  margin-right: 2rem;
  display: inline-block;
}
.header-3 .icons a{
  color: #333;
  font-size: 2.5rem;
  margin-left: 2rem;  
}
.header-3.active{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.header-3 .navbar a:hover{
  color: rgb(43, 43, 30);
  font-weight: bold;
}
.header-3 .icons a:hover{
  color: rgb(167, 28, 28);
  transform: scale(.9);
}
#menu-bar{
  font-size: 3rem;
  color: #666;
  border: .5rem solid #666;
  border-radius: .5rem;
  padding: .5rem 1.5rem;
  cursor: pointer;
  display: none;
}














/* media queries */
@media (max-width:1200px){
  html{
    font-size: 55%;
  }
}
@media(max-width:991px){
  .header-1,
  .header-2,
  .header-3{
    padding: 2rem;
  }
}
@media(max-width:768px){
  #menu-bar{
    display: initial;
  }
  .header-3 .navbar{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 1rem 2rem;
    background: #eee;
    border-top: .1rem solid rgb(14, 9, 9);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); */
  }
  .header-3 .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .header-3 .navbar a{
    display: block;
    margin: 1.5rem 0;
    padding: 1.5rem;
    border-radius: .5rem;
    border: .1rem solid rgb(146, 243, 146) ;
    background: #fff;
  }
  .header-2{
    flex-flow: column;
  }
  .header-2 .search-bar-container{
    margin-top: 2rem;
    width: 100%;
  }
}
@media (max-width:450px){
  html{
    font-size: 50%;
  }
  .header-1{
    display: none;
  }
}