@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all .2s linear;
}
:root {
  --white: #ffff;
  --violet: #e02c6d;
  --black: #1a202c;
  --red: #c53030;
  --primary-light: #fff2f1;
  --seperator: #e6e8eb;
}
*::selection {
  color: #fff;
  background-color: #000;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
  overflow-x: hidden;
}



/*-----------------------------
 Header section start 
-------------------------------*/
.header-1,
.header-2,
.header-3{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 9%;
  background: var(--violet);
  /* border-top: 2px solid green; */
}
.header-1{
  border-bottom: .1rem solid var(--white);
  background: var(--seperator);
}
.header-1 .share a,span{
  color: var(--black);
}
.header-1 .share span{
  color: var(--red);
  font-weight: bold;
}
.header-3{
  background: var(--black);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.493);
  position: relative;
  z-index: 1000;
}
.header-1 span{
  font-weight: lighter;
  color: #fff;
  font-size: 1.7rem;
}
.header-1 a{
  padding: 0 .7rem;
  color: #fff;
  font-size: 2rem;
}
.header-1 a:hover{
  color: var(--red);
}
.header-2{
  background: var(--primary-light);
}
.header-2 .logo{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  font-size: 3rem;
  color: var(--black);
}
.header-2 .search-bar-container{
  display: flex;
  width: 70%;
  float: right;
  padding: 1rem;
  background: rgb(255, 255, 255, .2);
  border-radius: .5rem;
  border: 2px solid var(--red);
}
.header-2 .search-bar-container #search-bar{
  width:100%;
  background: none;
  text-transform: none;
  color: var(--black);
  font-size: 1.7rem;
}
.header-2 .search-bar-container #search-bar::placeholder{
  text-transform: capitalize;
  color: var(--black);
}
.header-2 .search-bar-container label{
  color: var(--red);
  font-size: 2rem;
  cursor: pointer;
  padding: 0 .5rem;
}
.header-2 .search-bar-container label:hover{
  color: var(--black);
  transform: scale(.9);
}

.header-3 .navbar a{
  color: var(--white);
  font-size: 2rem;
  margin-right: 2rem;
  display: inline-block;
}
.header-3 .icons a{
  color: var(--white);
  font-size: 2.5rem;
  margin-left: 2rem;  
}
.header-3.active{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.header-3 .navbar a:hover{
  color: vaar(--red);
  font-weight: bold;
}
.header-3 .icons a:hover{
  color: rgb(167, 28, 28);
  transform: scale(.9);
}
#menu-bar{
  font-size: 2.5rem;
  color: var(--white);
  border: .3rem solid var(--white);
  border-radius: .5rem;
  padding: .5rem 1.5rem;
  cursor: pointer;
  display: none;
}

/* ----------------------------
Carousel section start
------------------------------ */
.carousel{
  padding: 2rem 9%;
}
.carousel-warper{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column-gap: 5rem;
}
.carousel-warper img{
  width: 100%;
  height: 100%;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Sari section start */
.sari-warper{
  display: grid;
  grid-template-columns: repeat(auto-fit , minmax(25rem , 1fr));
  /* justify-items: center; */
  grid-row-gap: 2rem;
  grid-column-gap: 1rem;
  margin: 3rem 5rem;
}
.sari-card{
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.sari-card .sari-img img{
  width: 100%;
}

.sari-card .sari-content .sari-tittle{
  color: #404040;
  font-size: 1.5rem;
  margin: 1rem 0;
  text-align: justify;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.sari-card .sari-content h1{
  color: #f57224;
  font-size: 1.8rem;
  padding-top: 1rem;

}
.sari-content .avilable{
  color: #0cb5ba;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}
.card-footer .star-icons{
  color: gold;
}
.card-footer .star-icons i:last-child {
 color: grey;
}
/* media queries */
@media (max-width:1200px){
  html{
    font-size: 55%;
  }
}
@media(max-width:991px){
  .header-1,
  .header-2,
  .header-3{
    padding: 2rem;
  }
}
@media(max-width:768px){
  #menu-bar{
    display: initial;
  }
  .header-3 .navbar{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 1rem 2rem;
    background: var(--black);
    border-top: .1rem solid rgb(14, 9, 9);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); */
  }
  .header-3 .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .header-3 .navbar a{
    display: block;
    margin: 1.5rem 0;
    padding: 1.5rem;
    border-radius: .5rem;
    border: .1rem solid rgb(146, 243, 146) ;
    background: var(--black);
  }
  .header-2{
    flex-flow: column;
  }
  .header-2 .search-bar-container{
    margin-top: 2rem;
    width: 100%;
  }
}
@media (max-width:550px){
  html{
    font-size: 50%;
  }
  .header-1{
    display: none;
  }
  .sari-warper{
    grid-template-columns: repeat(auto-fit , minmax(15rem , 1fr));
    margin: 3rem 1rem;
  }
  .card-footer{
   flex-direction: column;
  }
}